body{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav{
    background-color: rgb(76, 206, 167);
    color:white;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline-start: 30px;
}
form{
    margin: 10px;
    width: 55%;
    margin-inline: 25%;
    border: 2px solid rgb(25, 110, 85);
    border-radius: 15px;
}
input{
    width: 40%;
}
#signupHeading{
    display: flex;
    justify-content: center;
}
#mainForm{
    margin: 20px;
}
#inputDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
    height: 80%;

}
#signupButtonDiv{
    margin: 30px;
}
#signup{
    background-color: rgb(76, 206, 167);
    border-radius: 10px;
    border: 1px solid;
    height: 35px;
    width: 70px;
}
#errorMsg{
    color:red;
}