<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <label>Password :</label>
    <input type="password" id="password">
    <label>confirm Password :</label>
    <input type="password" id="confirmPassword">
    <button id="reset">Reset</button>
    <h3 id="error"></h3>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/js/resetPassword.js"></script>
</body>
</html>